<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog Ninjas</h1>
        </a>
        <p>A Bawa blog</p>
    </div>
    <ul>
        <li><a href="/">blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">new blog</a></li>
    </ul>
</nav>